# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Understand the Basics of SQL for data management
- Introduction to Data Science Libraries in Python and R
- Learn the Usage and Importance of GitHub for version control and collaboration

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

## Data Science Tools
| Data Science Tools |
| -------------| 
| Jupyter Notebook |
| RStudio | 
| PowerBI |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Shoaib Naseer